.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  position: relative;
}
.swiper-button-next, .swiper-button-prev{
  color:white;
}
.swiper-scrollbar {
  background-color: var(--bg-secondary); 
}
.swiper-scrollbar .swiper-scrollbar-drag{
  background-color: #4b41c1;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .overlay {
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Black with 50% opacity */
  z-index: 10;
}
