@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #000929;
  --clr-secondary: #A0A2AF;

  --clr-accent: #7065F0;
  --bg-primary: #E5E3F8;
  --bg-secondary: #F7F7FD;
}

:root {
  --clr-white: #fff;
  --clr-black: #000;

  --font-primary: "Roboto", sans-serif; 
  --font-secondary:"Open Sans", sans-serif;
  
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

body {
  font-family: var(--font-secondary);
  color: var(--clr-primary-light);
  background-color: var(--bg-primary-light);
  font-size: 0.825rem;
  line-height: 1.6;
}
section {
  padding: 3rem 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img{
  width: 100%;
}

h1, h2, h3, h4 {
  color: var(--clr-heading-light);
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  body{
    font-size: 1rem;
  }
  section {
    padding: 5rem 0;
  }
  p {
    line-height: 1.5;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}
