.navbar .menu li a{
  background: transparent;
  font-weight: 600;
  font-size: 1rem;
}
.navbar .menu li a.active, .navbar .menu li a.active:hover, li:hover{
  color:var(--clr-accent);
  background: transparent;
}
.navbar .menu:hover a.active{
  color:var(--clr-primary);
  background: transparent;
}

@media screen and (min-width: 1024px) {
  .navbar .company-name h3::before{
    content:"";
    position: absolute;
    width:30px;
    height: 20px;
    border-bottom: 5px solid var(--clr-accent);
    border-left: 5px solid var(--clr-accent);
    bottom: 0;
    left:0;
  }
  .navbar .company-name h3::after{
    content:"";
    position: absolute;
    width: 30px;
    height: 20px;
    border-top:5px solid var(--clr-accent);
    border-right:5px solid var(--clr-accent);
    top:0;
    right:0;
  }  
}

